:root {
  --cell-size-px: 48px;
  --white0: #FFFFFE;
  --black0: #020826;
  --white1: #F5F5F5;
  --black1: #010516;
  --board-cell-dark: #716040;
  --background: #F9F4EF;
  --green: #004643;
}

html {
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Mono', 'Consolas', monospace;
}

main h1 {
  font-size: 36px;
  font-weight: bold;
}

#board-table,
.board-cell,
.board-row {
  padding: 0;
  border: 0;
  margin: 0;
}

.board-cell {
  width: var(--cell-size-px);
  height: var(--cell-size-px);
  max-width: var(--cell-size-px);
  max-height: var(--cell-size-px);
  border: 4px solid var(--black1);
  box-sizing: border-box;
  position: relative;
}

.cell-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  opacity: 0;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 13px;
}

.cell-text:hover {
  cursor: default;
  opacity: 1;
}

.board-cell.black {
  background-color: var(--board-cell-dark);
}

.board-cell.white {
  background-color: var(--white0);
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
}

.piece.man {
  transform: translateY(-50%) translateX(-50%);
  width: calc(3 / 4 * var(--cell-size-px));
  height: calc(3 / 4 * var(--cell-size-px));
  border-radius: 100%;
}

.piece.king {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  width: calc(1 / 2 * var(--cell-size-px));
  height: calc(1 / 2 * var(--cell-size-px));
}

.piece.white {
  background-color: var(--white0);
}

.piece.black {
  background-color: var(--black0);
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.piece-can-move {
  outline: 4px solid var(--green);
  outline-offset: -2px;
  z-index: 1;
}

.piece-can-move::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--green);
  opacity: .5;
}

.piece-can-move>span:hover {
  cursor: pointer;
}

.btn-group {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.btn-primary {
  width: 100%;
  text-align: center;
  background-color: var(--green);
  color: var(--white0);
  text-decoration: none;
  padding: 12px 24px;
  transition: all .3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  opacity: .8;
}

.btn-primary:active {
  opacity: .7;
}

.btn-primary:not(:last-child) {
  margin-bottom: 12px;
}

.dev {
  width: 100%;
}